<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unitedtractors.android.unitedtractorsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UnitedTractorsApp">
        <activity android:name=".view.activity.form.permintaan_extension_dan_akses.ListPermintaanExtensionDanAksesActivity"></activity>
        <activity android:name=".view.activity.form.material_used_slip.KonfirmasiMaterialUsedSlipActivity" />
        <activity android:name=".view.activity.form.internal_work_order.KonfirmasiInternalWorkOrderActivity" />
        <activity android:name=".view.activity.form.checklist_alat_komunikasi.RadioActivity" />
        <activity android:name=".view.activity.form.permintaan_catering_reguler.NewKonfirmasiPermintaanCateringRegulerActivity" />
        <activity android:name=".view.activity.form.permintaan_catering_reguler.NewListPermintaanCateringRegulerActivity" />
        <activity android:name=".view.activity.form.permintaan_catering_reguler.NewPermintaanCateringRegulerActivity" />
        <activity android:name=".view.activity.form.permintaan_extension_dan_akses.PermintaanExtensionDanAksesActivity" />
        <activity android:name=".view.activity.form.checklist_pompa_air_bersih.ListChecklistPompaAirBersihActivity" />
        <activity android:name=".view.activity.form.checklist_pompa_air_bersih.ChecklistPompaAirBersihActivity" />
        <activity android:name=".view.activity.form.deklarasi.KonfirmasiDeklarasiActivity" />
        <activity android:name=".view.activity.form.deklarasi.ListDeklarasiActivity" />
        <activity android:name=".view.activity.form.deklarasi.DeklarasiActivity" />
        <activity android:name=".view.activity.form.permintaan_non_asset.KonfirmasiPermintaanNonAssetActivity" />
        <activity android:name=".view.activity.form.permintaan_non_asset.ListPermintaanNonAssetActivity" />
        <activity android:name=".view.activity.form.permintaan_non_asset.PermintaanNonAssetActivity" />
        <activity android:name=".view.activity.form.surat_jalan.SuratJalanActivity" />
        <activity android:name=".view.activity.form.internal_work_order.ListInternalWorkOrderActivity" />
        <activity android:name=".view.activity.form.internal_work_order.KeteranganInternalWorkOrderActivity" />
        <activity android:name=".view.activity.form.internal_work_order.InternalWorkOrderActivity" />
        <activity android:name=".view.activity.form.evaluasi_pekerjaan_vendor.EvaluasiPekerjaanVendorActivity" />
        <activity android:name=".view.activity.ListFormActivity" />
        <activity android:name=".view.activity.form.checklist_alat_komunikasi.TroublesInformationActivity" />
        <activity android:name=".view.activity.form.checklist_alat_komunikasi.RepeaterActivity" />
        <activity android:name=".view.activity.form.checklist_alat_komunikasi.PabxActivity" />
        <activity android:name=".view.activity.form.survery_kepuasan_pelanggan.DetailSurveyKepuasanPelangganActivity" />
        <activity android:name=".view.activity.form.survery_kepuasan_pelanggan.SurveryKepuasanPelangganActivity" />
        <activity android:name=".view.activity.form.checklist_alat_komunikasi.ChecklistAlatKomunikasiActivity" />
        <activity android:name=".view.activity.form.material_used_slip.ListMaterialUsedSlipActivity" />
        <activity android:name=".view.activity.form.material_used_slip.MaterialUsedSlipActivity" />
        <activity android:name=".view.activity.form.laporan_perbaikan.KonfirmasiLaporanPerbaikanActivity" />
        <activity android:name=".view.activity.form.laporan_perbaikan.ListLaporanPerbaikanActivity" />
        <activity android:name=".view.activity.form.laporan_perbaikan.LaporanPerbaikanActivity" />
        <activity android:name=".view.activity.form.external_work_order.KonfirmasiExternalWorkOrderActivity" />
        <activity android:name=".view.activity.ListMultipleApprovalActivity" />
        <activity android:name=".view.activity.form.checklist_pompa_pond.CheckingRunningTestActivity" />
        <activity android:name=".view.activity.form.checklist_pompa_pond.LokasiPompaPondActivity" />
        <activity android:name=".view.activity.form.checklist_pompa_pond.ChecklistPompaPondActivity" />
        <activity android:name=".view.activity.form.permintaan_layout_acara.KonfirmasiPermintaanLayoutAcaraActivity" />
        <activity android:name=".view.activity.form.permintaan_layout_acara.PermintaanLayoutAcaraActivity" />
        <activity android:name=".view.activity.form.monitoring_lapangan.KonfirmasiMonitoringLapanganActivity" />
        <activity android:name=".view.activity.form.monitoring_lapangan.ListMonitoringLapanganActivity" />
        <activity android:name=".view.activity.form.monitoring_lapangan.MonitoringLapanganActivity" />
        <activity android:name=".view.activity.form.checklist_for_hydrant.PanelHydrantActivity" />
        <activity android:name=".view.activity.form.checklist_for_hydrant.DieselHydrantPumpActivity" />
        <activity android:name=".view.activity.form.checklist_for_hydrant.ElectricPumpActivity" />
        <activity android:name=".view.activity.form.checklist_for_hydrant.JockeyPumpActivity" />
        <activity android:name=".view.activity.form.checklist_for_hydrant.SystemPemipaanActivity" />
        <activity android:name=".view.activity.form.checklist_for_hydrant.ChecklistForHydrantActivity" />
        <activity android:name=".view.activity.form.checklist_for_genset.TroublesInformationActivity" />
        <activity android:name=".view.activity.form.checklist_for_genset.K5Activity" />
        <activity android:name=".view.activity.form.checklist_for_genset.ControlSystemActivity" />
        <activity android:name=".view.activity.form.checklist_for_genset.UnitEngineActivity" />
        <activity android:name=".view.activity.form.checklist_for_genset.ChecklistForGensetActivity" />
        <activity android:name=".view.activity.form.sidak_catering.KonfirmasiSidakCateringActivity" />
        <activity android:name=".view.activity.form.sidak_catering.SanitasiLingkunganDanFasilitasPengolahMakananActivity" />
        <activity android:name=".view.activity.form.sidak_catering.KesehatanBahanDanPenyimpananMakananActivity" />
        <activity android:name=".view.activity.form.sidak_catering.PersyaratanTenagaKerjaActivity" />
        <activity android:name=".view.activity.form.sidak_catering.SidakCateringActivity" />
        <activity android:name=".view.activity.form.perbaikan.KonfirmasiPerbaikanActivity" />
        <activity android:name=".view.activity.form.perbaikan.KeteranganPerbaikanActivity" />
        <activity android:name=".view.activity.form.perbaikan.PerbaikanActivity" />
        <activity android:name=".view.activity.form.external_work_order.ListExternalWorkOrderActivity" />
        <activity android:name=".view.activity.form.external_work_order.ExternalWorkOrderActivity" />
        <activity android:name=".view.activity.form.identifikasi.KonfirmasiIdentifikasiActivity" />
        <activity android:name=".view.activity.form.identifikasi.ListIdentifikasiActivity" />
        <activity android:name=".view.activity.form.identifikasi.IdentifikasiActivity" />
        <activity android:name=".view.activity.form.permintaan_mobil_pribadi.KonfirmasiPermintaanMobilPribadiActivity" />
        <activity android:name=".view.activity.form.permintaan_mobil_pribadi.PermintaanMobilPribadiActivity" />
        <activity android:name=".view.activity.form.order_catering.KonfrimasiOrderCateringActivity" />
        <activity android:name=".view.activity.form.order_catering.ListOrderCateringActivity" />
        <activity android:name=".view.activity.form.order_catering.OrderCateringActivity" />
        <activity android:name=".view.activity.form.permintaan_catering_reguler.KonfirmasiPermintaanCateringRegulerActivity" />
        <activity android:name=".view.activity.form.permintaan_catering_reguler.PermintaanCateringRegulerActivity" />
        <activity android:name=".view.activity.form.checklist_ruang_meeting.ListCheckRuangMeetingActivity" />
        <activity android:name=".view.activity.form.checklist_ruang_meeting.ChecklistRuangMeetingActivity" />
        <activity android:name=".view.activity.approval.TransactionDetailActivity" />
        <activity android:name=".view.activity.SignUpActivity" />
        <activity android:name=".view.activity.approval.DetailApprovalPembelianSnackActivity" />
        <activity android:name=".view.activity.ListApprovalActivity" />
        <activity
            android:name=".view.activity.form.pembelian_snack.ListPembelianSnackActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.activity.form.pembelian_snack.KonfirmasiPembelianSnackActivity" />
        <activity android:name=".view.activity.form.pembelian_snack.PembelianSnackActivity" />
        <activity android:name=".view.activity.form.syarat_legalitas_catering.SyaratLegatitasCateringLanjutanActivity" />
        <activity android:name=".view.activity.form.hasil_test_food_catering.ListHasilTestFoodCateringActivity" />
        <activity android:name=".view.activity.form.hasil_test_food_catering.HasilTestFoodCateringActivity" />
        <activity android:name=".view.activity.form.kontrol_harian.KontrolHarianActivity" />
        <activity android:name=".view.activity.form.komplain_atau_usulan.ListKomplainAtauUsulanActivity" />
        <activity android:name=".view.activity.form.komplain_atau_usulan.KomplainAtauUsulanActivity" />
        <activity android:name=".view.activity.form.permintaan_mobil_dinas.KonfirmasiPermintaanMobilDinasActivity" />
        <activity
            android:name=".view.activity.form.permintaan_mobil_dinas.ListPermintaanMobilDinasActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".view.activity.form.permintaan_mobil_dinas.PermintaanMobilDinasActivity" />
        <activity android:name=".view.activity.ScreenFeedbackActivity" />
        <activity android:name=".view.activity.form.permintaan_asset.KonfirmasiPermintaanAssetActivity" />
        <activity android:name=".view.activity.form.syarat_legalitas_catering.SyaratLegalitasCateringActivity" />
        <activity android:name=".view.activity.form.permintaan_asset.ListPermintaanAssetActivity" />
        <activity android:name=".view.activity.form.usulan_penjualan.UsulanPenjualanActivity" />
        <activity android:name=".view.activity.form.permintaan_asset.PermintaanAssetActivity" />
        <activity android:name=".view.activity.SignInActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.notif.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.notif.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>