<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unitedtractors.android.unitedtractorsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_new_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_new_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:theme="@style/Theme.UnitedTractorsApp">
        <activity android:name=".view.activity.approval.TransactionDetailActivity"/>
        <activity android:name=".view.activity.SignUpActivity"/>
        <activity android:name=".view.activity.approval.DetailApprovalPembelianSnackActivity" />
        <activity android:name=".view.activity.ListApprovalActivity" />
        <activity android:name=".view.activity.form.pembelian_snack.ListPembelianSnackActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.activity.form.pembelian_snack.KonfirmasiPembelianSnackActivity" />
        <activity android:name=".view.activity.form.pembelian_snack.PembelianSnackActivity" />
        <activity android:name=".view.activity.form.syarat_legalitas_catering.SyaratLegatitasCateringLanjutanActivity" />
        <activity android:name=".view.activity.form.hasil_test_food_catering.ListHasilTestFoodCateringActivity" />
        <activity android:name=".view.activity.form.hasil_test_food_catering.HasilTestFoodCateringActivity" />
        <activity android:name=".view.activity.form.kontrol_harian.KontrolHarianActivity" />
        <activity android:name=".view.activity.form.komplain_atau_usulan.ListKomplainAtauUsulanActivity" />
        <activity android:name=".view.activity.form.komplain_atau_usulan.KomplainAtauUsulanActivity" />
        <activity android:name=".view.activity.form.permintaan_mobil_dinas.KonfirmasiPermintaanMobilDinasActivity" />
        <activity android:name=".view.activity.form.permintaan_mobil_dinas.ListPermintaanMobilDinasActivity" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.activity.form.permintaan_mobil_dinas.PermintaanMobilDinasActivity" />
        <activity android:name=".view.activity.ScreenFeedbackActivity" />
        <activity android:name=".view.activity.form.permintaan_asset.KonfirmasiPermintaanAssetActivity" />
        <activity android:name=".view.activity.form.syarat_legalitas_catering.SyaratLegalitasCateringActivity" />
        <activity android:name=".view.activity.form.permintaan_asset.ListPermintaanAssetActivity" />
        <activity android:name=".view.activity.form.usulan_penjualan.UsulanPenjualanActivity" />
        <activity android:name=".view.activity.form.permintaan_asset.PermintaanAssetActivity" />
        <activity android:name=".view.activity.SignInActivity" />
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.notif.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".utils.notif.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>